gradient1 {
  background-color: #D6E6FE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, p {
  margin:0; 
  padding: 0;
}


.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1080px;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-image: url('/assets/images/Rectangle\ 6.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}


.calculator {
  display: flex;
}

.intro {
  margin: 50px;
}

.intro h1 {
  font-size:64px;
  font-weight: 600;
  color: #253347;
}

.calculator-form {
  background-color: #ffffff; /* Light gray background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  padding: 40px;
  
}

.calculator-form h3 {
  padding-top: 10px;
}


/* Unit Options/Radio buttons */
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  gap: 10px;
  margin-top: 20px;
}

input[type="radio"] {
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #ccc;
  /* accent-color: lightblue; */
}

input[type="radio"]:checked {
  background-color: #ccc;
}

/* Height & Weight Labels */
.measurement-labels {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 10px;
}

.measurement-labels p {
  font-size: 12px;
  color: gray;
  margin-top: 20px;
}

/* CM, KG, IN Label for USer inputs */
label {
  font-weight: bold;
  font-size: 14px;
}

.label-cm, .label-kg, .label-in{
  position:absolute;
  right: 4px;
  color: blue;
  font-size: 18px;
  
}




/* User Inputs */
.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inputs {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;
  gap: 40px;
}

.input-fields {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-width: 1px;
}

.input-fields[type="text"] {
  font-size: 18px;
  font-weight: bold;
}

.input-fields:focus {
  outline: none;
  border: 1px solid blue;
}

.input-fields::placeholder {
  color: black;
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
}

.input-fields-in {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-width: 1px;
}

.hidden-row {
  display: none;
  
}


button {
  background-color: #345FF6;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(2, 122, 251);
}


/* Results Container */
.results-container {
  background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 120px;
  width: 500px;
  margin-top: 20px;
  display: flex;
  align-self: stretch;
}

.bmi-container, .bmi-number{
  display: flex;
  color: whitesmoke;
}

.bmi-container {
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.bmi-number {
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
}

.bmi {
  font-size: 3rem;
}

.bmi-suggestion {
  width: 180px;
}


/* Second Section */

.what-your-results-mean{
  margin-top: 200px;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-text {
  width: 400px;
  margin:auto 0;
  padding-top: 50px;
  line-height: 1.5;
  color: var(--gunmetal, #253347);
}

.results-text h1 {
  padding-bottom: 20px;
}

.man-eating {
  width: 300px;
  height: auto;
  padding-bottom: 20px;
}


/* Tips Section  */

.tips-container {
  width: auto;
  height: 402px;
  flex-shrink: 0;
  border-radius: 35px;
  background: var(--gradient1, linear-gradient(315deg, #D6E6FE 0%, rgba(96, 134, 136, 0) 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: 100px;
}

.tips-container h1 {
    color: var(--gunmetal, #253347);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin:24px 0;
}

.tips-container p {
    color: var(--gunmetal, #5E6E85);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
}


/* Limitations of BMI */

.limits-container {
  height: 2000px;
  background: var(--pure-white, #FFF);
  position: relative;
}

.limits-container h1 {
    color: var(--gunmetal, #253347);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-top: 100px;
   
}

.limits-p {
  width: 500px;
}

.limits-container p {
    color: var(--gunmetal, #5E6E85);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
    
    
}

.frame {
  display: flex;
  width: 365px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  background: var(--pure-white, #FFF);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  
}

.frame h1 {
}

.gender, .age, .pregnancy, .race, .muscle {
  position: absolute;
}

.gender {
  right: 70px;
  top: 0;
}

.age {
  right: 500px;
  top: 470px;
}

.pregnancy {
  top: 900px;
  right: 700px;
  
}

.race {
  top: 900px;
  right: 200px;
}

.muscle {
  right: 0;
  top: 470px;
}

/* Container Styles */


/* Tablet Size */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
 .intro h1 {
    font-size: 48px;
    text-align: center;
  }
  .calculator {
    display: flex;
    flex-direction: column;
  }

  .bg-img {
    width: 100%;
  }

  .results-container {
    width: 100%;
  }

/* Second Section */
  
  .what-your-results-mean{
    margin-top: 70px;
    margin: auto;
  }

  .results {
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }

  .man-eating {
    width: 500px;
    height: auto;
  }

  .results-text {
    text-align: center;
    width: 500px;
  }

  .results-text h1 {
    margin-top: 20px;
  }

}

/* Phone Size */
@media (max-width: 480px) {
  .container {
    width: 80%;
  }
  .intro h1 {
    font-size: 40px;
    text-align: center;
  }

  .intro p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }

  .results-container {
    width: 100%;
  }

  .bmi-number {
    text-align: center;

  }

  .bmi-suggestion {
    display: none;
  }
  
  /* Second Section */
  
  .what-your-results-mean{
    margin-top: 80px;
    margin: auto;
  }

  .results {
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }

  .man-eating {
    width: 300px;
    height: auto;
  }

  .results-text {
    text-align: center;
    width: auto;
  }

  .results-text h1 {
    margin-top: 20px;
  }

  /* Tips Section  */

  .tips-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .tips-container h1 {
    margin-bottom: 20px;
  }

  .tips-container p {
    margin-bottom: 20px;
  }

  /* Limitations of BMI */

  .limits-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .limits-container h1 {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .limits-p {
    width: 100%;
    text-align: center;
  }

  .frame {
    width: 100%;
  }

  .gender, .age, .pregnancy, .race, .muscle {
    position: relative;
    right: 0;
    top: 0;
  }
}
